@using Microsoft.AspNetCore.Mvc.Localization
@using System.ComponentModel;
@using WorldTravel.Abstract
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Toolbar.LanguageSwitch;
@inject IHtmlLocalizer<WorldTravel.Localization.WorldTravelResource> L
@inject IMessageAppService _messageAppService

<style>
    .message-unseen, .menu-unseen {
        color: forestgreen !important;
        font-size: 16px !important;
    }
</style>
<div class="navbar navbar-expand-md navbar-light">
    @* Logo Start *@
    <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
        <div class="navbar-brand navbar-brand-md">
            <a href="/" class="d-inline-block">
                @*<img src="~/assets/images/logoOrange.png" alt="" />*@
            </a>
        </div>

        <div class="navbar-brand navbar-brand-xs">
            <a href="/" class="d-inline-block">
                @*<img src="~/assets/images/logoOrange.png" alt="" />*@
            </a>
        </div>
    </div>
    @* Logo End *@

    @* Mobile Controls Start *@
    <div class="d-flex flex-1 d-md-none">
        <div class="navbar-brand mr-auto">
            <a href="/" class="d-inline-block">
                @*<img src="~/assets/images/logoOrange.png" alt="" />*@
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>

        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
    @* Mobile Controls End *@

    @* Navbar Content Start *@
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>

        <span class="badge badge-pill ml-md-3 mr-md-auto">&nbsp;</span>
        <ul class="navbar-nav">
            @await Component.InvokeAsync(typeof(LanguageSwitchViewComponent))
            @if (User.Identity.IsAuthenticated)
            {
                var unseenMessageCount = _messageAppService.GetUnseenMessageCount();

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
                        <span>@User.Identity.Name</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/Admin/Account/Manage" class="dropdown-item"><i class="icon-user"></i>@L["ProfileS"]</a>
                        <div class="dropdown-divider"></div>
                        <a href="/Message" class="dropdown-item"><i class="icon-envelope"></i>@L["Messages"]
                            @if (unseenMessageCount > 0)
                            {
                                <span class="menu-unseen">(<span class="menu-unseen-count">@unseenMessageCount</span>)</span>
                            }
                            else
                            {
                                <span>(0)</span>
                            }
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/Home" class="dropdown-item"><i class="icon-reply"></i>@L["ReturnUserPage"]</a>
                        <div class="dropdown-divider"></div>
                        <a href="/Admin/Account/Logout" class="dropdown-item"><i class="icon-switch2"></i>@L["Logout"]</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    @* Navbar Content End *@
</div>