@page
@model WorldTravel.Web.Pages.Admin.Customer.Detail
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Navigation
@using Volo.Abp.Identity.Web.Pages.Identity.Users
@using WorldTravel.Abstract
@using WorldTravel.Dtos.Receipts
@inject IReceiptAppService _receiptSevice
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Users"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityManagement"].Value);
    PageLayout.Content.MenuItemName = IdentityMenuNames.Users;
}

@section scripts
    {
    <abp-script src="/Pages/Admin/Customer/FormList.js" />
}

<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card bg-teal-400" style="background-image: url(../../../../global_assets/images/backgrounds/panel_bg.png); background-size: contain;">
            <div class="card-body text-center">
                <div class="card-img-actions d-inline-block mb-3">
                    <img class="rounded-circle" src="@Model.UserViewModel.ImageUrl" alt="@L["ImageFailedToLoad"]" title="@L["User"]" width="170" height="170" alt="">
                </div>
                <input type="hidden" value="@Model.UserViewModel.Id" id="userId" />
                <h6 class="font-weight-semibold mb-0">@Model.UserViewModel.Name @Model.UserViewModel.Surname</h6>
                @*<span class="d-block opacity-75">@Model.UserViewModel.Role</span>*@
                <div class="list-icons list-icons-extended mt-3">
                    <a href="#" class="list-icons-item text-white"><i clas s="icon-user"></i> @Model.UserViewModel.PhoneNumber</a>
                    <a href="#" class="list-icons-item text-white"><i class="icon-mail5"></i> @Model.UserViewModel.Email</a>
                </div>
                <hr />
                <abp-button id="btnOpenMailModal" data-toggle="modal" data-target="#mailModal" button-type="Dark">@L["SendMessageToPerson"]</abp-button>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-sm-9">
        <abp-card>
            <abp-card-header>
                <abp-row>
                    <abp-column size-md="_12">
                        <abp-card-title>Müşteri Vize Başvuruları</abp-card-title>
                    </abp-column>
                </abp-row>
            </abp-card-header>
            <abp-card-body>
                <abp-table striped-rows="true" id="FormTable"></abp-table>
            </abp-card-body>
        </abp-card>
        <abp-card>
            <abp-card-header>
                <abp-row>
                    <abp-column size-md="_12">
                        <abp-card-title>Dökümanlar</abp-card-title>
                    </abp-column>
                </abp-row>
            </abp-card-header>
            <abp-card-body>
                <table class="table table-striped dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Belge No</th>
                            <th>Belge Adı</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var receipt in Model.Receipts)
                        {
                            <tr>
                                <td>@receipt.FileId</td>
                                <th>@receipt.File.Name</th>
                                <th><a href="@receipt.File.Path" target="_blank" class="btn btn-success">Görüntüle</a></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </abp-card-body>
        </abp-card>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>@Model.UserViewModel.Name @Model.UserViewModel.Surname | @Model.UserViewModel.Email</b> @L["SendMessageToPerson"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="txtMessage" rows="3" placeholder="@L["WriteMessage"]" style="resize: none;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@L["Close"]</button>
                <button class="btn btn-primary" id="btnSendMessage" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> @L["Send"]</button>
            </div>
        </div>
    </div>
</div>


<script>

    $('#btnSendMessage').on('click', function (e) {
        var selectedUserId = '@Model.UserViewModel.Id';
        var messageContent = $('#txtMessage').val();

        if (selectedUserId !== 0 && messageContent.replace(/\s/g, '') !== '') {
            worldTravel.services.message.sendMessage(selectedUserId, messageContent)
                .done(function (result) {
                    if (result.success) {
                        $('#mailModal').modal('hide');

                        toastr.success('@L["SuccessfullyCompleted"].Value');

                        setTimeout(function () {
                            toastr.info('Mesaj sayfasına yönleniyorsunuz..Lütfen bekleyiniz..');
                        }, 1000);

                        setTimeout(function () {
                            window.location.href = "/Admin/Message"
                        }, 4000);
                    }
                    else {
                        toastr.error(result.message)
                    }
                })
                .fail(function () {
                    toastr.error('@L["UnexpectedError"].Value');
                });
        }

    });
</script>