@using WorldTravel.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Users
@using WorldTravel.Abstract
@inject IStringLocalizer<WorldTravelResource> L
@inject ICurrentUser CurrentUser
@inject ICountryContentAppService _countryContentAppService
@inject IVisaTypeAppService _visaTypeAppService
@inject IJobAppService _jobAppService
@{
    var countryContents = await _countryContentAppService.GetCountryContentListForUserAsync(new WorldTravel.Dtos.CountryContents.GetCountryContentRequestDto() { IsSeenHomePage = true });
    var visaTypes = await _visaTypeAppService.GetVisaTypeListForUserAsync(new WorldTravel.Dtos.VisaTypes.GetVisaTypeRequestDto() { IsSeenHomePage = true });
    var jobs = await _jobAppService.GetJobListForUserAsync(new WorldTravel.Dtos.Jobs.GetJobRequestDto() { IsSeenHomePage = true });
    bool surec = Convert.ToBoolean(TempData["surec"]);
}

<!--Web Menu-->
<div class="header-wrap classicHeader animated d-flex">
    <div class="container-fluid">
        <div class="row align-items-center d-none d-lg-flex">
            <!--Web Logo-->
            <div class="logo col-md-4 col-lg-3 d-none d-lg-block">
                <a href="/Home" style="text-decoration:none;">
                    <div style="display:flex; align-items:center;">
                        <img loading="lazy" src="/web/images/world-logo-long.png" height="55" alt="@L["ImageFailedToLoad"]" title="Anasayfa" />
                        @*                        <span class="logo-next-name" style="font-size:28px; margin-left: 10px;">@L["ProjectName"]</span>
                        *@
                    </div>
                </a>
            </div>
            <!--End Web Logo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-9 process-menu" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <nav class="grid__item" id="AccessibleNav">
                    <ul id="siteNav" class="site-nav medium right hidearrow">
                        @*<li class="lvl1"><a href="/Admin/Account/Login"><i class="fa fa-user-plus fa-fw"></i> @L["AdminPage"]</a></li>*@
                        @if (countryContents.Count > 0)
                        {
                            <li class="lvl1 parent dropdown">
                                <a href="/Country/Index" class="fs15">@L["Countries"] <i class="anm anm-angle-down-l"></i></a>
                                <ul class="dropdown">
                                    @foreach (var countryContent in countryContents)
                                    {
                                        <li><a style="text-transform:none;" href="/Country/Detail?Id=@countryContent.Id" class="site-nav">@countryContent.Title</a></li>
                                    }
                                    <li><a href="/Country" class="site-nav">@L["ViewAll"] <span class="lbl nm_label1"> @L["New"]</span> </a></li>
                                </ul>
                            </li>
                        }
                        @if (visaTypes.Count > 0)
                        {
                            <li class="lvl1 parent dropdown">
                                <a href="/VisaType/Index" class="fs15">@L["VisaTypesB"] <i class="anm anm-angle-down-l"></i></a>
                                <ul class="dropdown">
                                    @foreach (var visaType in visaTypes)
                                    {
                                        <li><a style="text-transform:none;" href="/VisaType/Detail?Id=@visaType.Id" class="site-nav">@visaType.Title</a></li>
                                    }
                                    <li><a href="/VisaType" class="site-nav">@L["ViewAll"] <span class="lbl nm_label1"> @L["New"]</span> </a></li>
                                </ul>
                            </li>
                        }
                        @* @if (jobs.Count > 0)
                        {
                        <li class="lvl1 parent dropdown">
                        <a href="#" class="fs15">@L["JobsB"] <i class="anm anm-angle-down-l"></i></a>
                        <ul class="dropdown">
                        @foreach (var job in jobs)
                        {
                        <li><a href="/Job/Detail?Id=@job.Id" class="site-nav">@job.Title</a></li>
                        }
                        <li><a href="/Job" class="site-nav">@L["SeeAll"] <span class="lbl nm_label1"> @L["New"]</span> </a></li>
                        </ul>
                        </li>
                        }*@
                        @if (surec == true)
                        {
                            <li class="lvl1"><a href="#about" class="fs15">@*<i class="fa fa-plus fa-fw"></i>*@ @L["HowProcessWork"]</a></li>
                        }
                        <li class="lvl1"><a href="#contact" class="contantLink fs15" style="padding-right:0px;"><i class="fa fa-phone fa-fw"></i> @L["Contact"]</a></li>
                    </ul>
                </nav>
                <div class="d-none d-lg-block">
                    <form method="get" action="Form/FormFindJob?formRegisterType=vizebasvurusu">
                        <input type="text" class="form-control search__form" placeholder="@L["Search"]" style="margin-left:30px; width:255px;" />
                        <span style="position: absolute; right: 0; bottom: 15px; right:30px;" class="fa fa-search"></span>
                    </form>
                </div>
                <!--End Web Menu-->
            </div>
        </div>
        <div class="row d-flex d-lg-none" style="margin-top:10px; align-items:center;">
            <div class="col-10">
                <a href="/Home" style="text-decoration:none;">
                    <div style="display:flex; align-items:center;">
                        <img loading="lazy" src="/web/images/world-logo-long.png"
                             height="55" alt="@L["ImageFailedToLoad"]" class="img-logo-mobile" title="Anasayfa" />
                    </div>
                </a>
            </div>
            <div class="col-2">
                <div style="display: flex; justify-content: flex-end;">

                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r" style="color: #000;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Menu-->
<!--Mobile Menu-->
<div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Menüyü Kapat</div>
    <ul id="MobileNav" class="mobile-nav">
        @*        @if (CurrentUser.IsAuthenticated)
        {
        <li class="lvl1"> <a href="#"><i class="fa fa-envelope fa-fw"></i>@L["Message"] (2)</a></li>
        <li class="lvl1 parent megamenu">
        <a href="#">Profilim <i class="anm anm-plus-l"></i></a>
        <ul>
        <li><a href="/Account/Manage" class="site-nav">Hesap Bilgilerim</a></li>
        <li><a href="blog-right-sidebar.html" class="site-nav">İlanlarım</a></li>
        <li><a href="/Account/Logout" class="site-nav">@L["Logout"]</a></li>
        </ul>
        </li>
        }
        else
        {
        <li class="lvl1"><a href="/Account/Register"><i class="fa fa-user-plus fa-fw"></i> @L["Register"]</a></li>
        <li class="lvl1"><a href="/Account/Login"><i class="fa fa-sign-in fa-fw"></i> @L["Login"]</a></li>
        <li class="lvl1"><a href="/Admin/Account/Login"><i class="fa fa-sign-in fa-fw"></i> @L["Admin"]</a></li>
        }*@
        @if (countryContents.Count > 0)
        {
            <li class="lvl1 parent dropdown">
                <a href="#" style="font-size:13px !important" class="fs15" style="font-size:13px">@L["Countries"] <i class="anm anm-angle-down-l"></i></a>
                <ul class="dropdown">
                    @foreach (var countryContent in countryContents)
                    {
                        <li><a style="font-size:13px !important" href="/Country/Detail?Id=@countryContent.Id" class="site-nav">@countryContent.Title</a></li>
                    }
                    <li><a style="font-size:13px !important" href="/Country" class="site-nav">@L["ViewAll"] <span class="lbl nm_label1"> @L["New"]</span> </a></li>
                </ul>
            </li>
        }
        @if (visaTypes.Count > 0)
        {
            <li class="lvl1 parent dropdown">
                <a href="#" style="font-size:13px !important" class="fs15">@L["VisaTypesB"] <i class="anm anm-angle-down-l"></i></a>
                <ul class="dropdown">
                    @foreach (var visaType in visaTypes)
                    {
                        <li><a style="font-size:13px !important" href="/VisaType/Detail?Id=@visaType.Id" class="site-nav">@visaType.Title</a></li>
                    }
                    <li><a style="font-size:13px !important" href="/VisaType" class="site-nav">@L["ViewAll"] <span class="lbl nm_label1"> @L["New"]</span> </a></li>
                </ul>
            </li>
        }
        @if (jobs.Count > 0)
        {
            <li class="lvl1 parent dropdown">
                <a href="#" style="font-size:13px !important" class="fs15">@L["JobsB"] <i class="anm anm-angle-down-l"></i></a>
                <ul class="dropdown">
                    @foreach (var job in jobs)
                    {
                        <li><a style="font-size:13px !important" href="/Job/Detail?Id=@job.Id" class="site-nav">@job.Title</a></li>
                    }
                    <li><a style="font-size:13px !important" href="/Job" class="site-nav">@L["ViewAll"] <span class="lbl nm_label1"> @L["New"]</span> </a></li>
                </ul>
            </li>
        }
        <li class="lvl1"><a style="font-size:13px !important" href="#about">@*<i class="fa fa-plus fa-fw">*@</i> @L["HowProcessWork"]</a></li>
        <li class="lvl1"><a style="font-size:13px !important" href="#contact" class="contantLink"><i class="fa fa-phone fa-fw"></i> @L["Contact"]</a></li>
    </ul>
</div>
<!--End Mobile Menu-->