@page
@model WorldTravel.Web.Pages.Account.NewPasswordActivation
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            @if (Model.HasError)
            {
                <h5 style="margin: 100px;">@L["UnexpectedErrorPage"]</h5>
            }
            else
            {
                @if (!Model.HasTimeOut)
                {
                    <form method="post" class="contact-form cont-content" style="box-shadow: -1px 0px 20px 0 #ededed;">
                        @Html.AntiForgeryToken()
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <i class="icon-user icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                    <h5 class="mb-0">@L["EnterYourNewPassword"]</h5>
                                    <span class="d-block text-muted">@Model.Email</span>
                                </div>
                                <input type="hidden" asp-for="Email" />
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input asp-for="Password" autofocus class="form-control presenterPass" placeholder="@L["Password"]">
                                    <div class="form-control-feedback">
                                    </div>
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="@L["ConfirmPassword"]">
                                    <div class="form-control-feedback">
                                    </div>
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <abp-button text="@L["Update"]" style="background: #ff7800; padding: 15px 20px;
                                        border-radius: 5px; font-weight: 700; box-shadow: 0px 1px 20px 0 #1594d069;" type="submit" button-type="Success" class="btn mb-3" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <h5 style="margin: 100px;">@L["LinkHasTimedOut"]</h5>
                }
            }
        </div>
    </div>
</div>