@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model WorldTravel.Web.Pages.Admin.CountryContent.CreateModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@{
    Layout = null;
}
<link href="~/extensions/multipleimage/multipleimage.css" rel="stylesheet" />

<form asp-page="/Admin/CountryContent/Create" method="post" id="createCountryContentForm" enctype="multipart/form-data">
    <abp-modal size="Large">
        <abp-modal-header title="@L["NewCountryContent"]"></abp-modal-header>
        <abp-modal-body>
            <abp-select asp-for="CountryContent.CountryId" label="@L["Country"]">
                <option disabled selected>@L["Choose"]</option>
            </abp-select>
            <abp-input asp-for="CountryContent.MainImage" label="@L["Image"]" accept="image/png, image/gif, image/jpeg" />
            <abp-input asp-for="CountryContent.Title" label="@L["Title"]" />
            <abp-input asp-for="CountryContent.ShortDescription" label="@L["ShortDescription"] (@L["OnlySeenCountryList"])" />
            <abp-input asp-for="CountryContent.Description" label="@L["Description"]" class="ckeditor" />
            <abp-input asp-for="CountryContent.ExtraDescription" label="@L["ExtraDescription"]" class="ckeditor" />
            <abp-input asp-for="CountryContent.Rank" label="@L["Rank"]" />
            <abp-input asp-for="CountryContent.IsSeenHomePage" label="@L["IsSeenHomePage"]" />
            <hr />
            <div class="form-group">
                <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>
            </div>
            <div class="form-group" style="font-size:15px;font-weight:bold;">
                <abp-input asp-for="CountryContent.ImportFiles" label="@L["NewSlaytImages"]" style="display: none;" multiple id="upload-img" />
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
<script>

      $(document).ready(function () {
          $('.ckeditor').each(function () {
              CKEDITOR.replace($(this).attr("id"));
          });
      });

      var imgUpload = document.getElementById('upload-img')
          , imgPreview = document.getElementById('img-preview')
          , totalFiles
          , img;

      imgUpload.addEventListener('change', previewImgs, true);

      function previewImgs(event) {
          totalFiles = imgUpload.files.length;

          if (!!totalFiles) {
              imgPreview.classList.remove('img-thumbs-hidden');
          }

          for (var i = 0; i < totalFiles; i++) {
              wrapper = document.createElement('div');
              wrapper.classList.add('wrapper-thumb');
              removeBtn = document.createElement("span");
              nodeRemove = document.createTextNode('x');
              removeBtn.classList.add('remove-btn');
              removeBtn.appendChild(nodeRemove);
              img = document.createElement('img');
              img.src = URL.createObjectURL(event.target.files[i]);
              img.classList.add('img-preview-thumb');
              wrapper.appendChild(img);
              wrapper.appendChild(removeBtn);
              imgPreview.appendChild(wrapper);

              $('.remove-btn').click(function () {
                  $(this).parent('.wrapper-thumb').remove();
              });
          }
      }
</script>
